<<<<<<< HEAD

/*  slide Area */
.mainSlider{
   width: 100%;
   height: 400px;
}

/* Right Side bar */
.articleArea {

}
.articleArea .areaTitle span{
  color: red;
  
}
/* Services Area */

section#ServiceArea{
   margin-top: 50px;
   margin-bottom: 100px;
}
#hidden2{
   margin-top: 20px;
}
/* Registratin Area */
.registration_area{
	margin-top: 40px;
	margin-left: 280px;
}
/* Footer */
footer{
  margin-top: 85px;
  
}
.bg-4 { 
      background-color: #2f2f2f; 
      color: #fff;
      padding-top: 50px;
      padding-bottom: 50px;
  } 
  .form_show{
       
}
.under_main_tab{
  margin-top: 50px;
}
.new_crop_add{
  margin-top: 50px;
}
.crop{
  margin-top: 20px;
}
.section1{
  margin-top: 10px;
}
.form-area{
  margin-top: 20px;
  margin-left: 20px;
}
.form-inline{
  margin-top: 20px;
}
.varity {
  margin-left: 13px;
}
.budget {
  margin-left: 35px;
}
.water-source {
  margin-left: 5px;
}
.section2-btn {
  margin-left: 80px;
}
.filter-area {
  margin-top: 23px;
}
.list-of-fertilizer {
  margin-left: 40px;
}
.table-area {
  margin-left: 41px;
}
.toltip-area {
  margin-left: 25px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  position: relative;
}
.under-crops {
  margin-left: 21px;
}
#footer-section{
  margin-top: 50px;
  margin-left: 50px;
}
.mouse-over{
  display: none;
  position: absolute;
}
.btn-area {
  margin-left: 96px;
  margin-top: 16px;
}
.btn-area button {
  margin-right: 17px;
}
.hover-area {
  position: absolute;
  border: 3px solid;
  margin-left: 186px;
  margin-top: -119px;
  padding: 5px;
  border-radius: 35px;
}
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9.5px 38px 9.5px 0;
  border-color: transparent #4e5760 transparent transparent;
  position: absolute;
  margin-left: 148px;
  margin-top: -51px;
=======

/*  slide Area */
.mainSlider{
   width: 100%;
   height: 400px;
}

/* Right Side bar */
.articleArea {

}
.articleArea .areaTitle span{
  color: red;
  
}
/* Services Area */

section#ServiceArea{
   margin-top: 50px;
   margin-bottom: 100px;
}
#hidden2{
   margin-top: 20px;
}
/* Registratin Area */
.registration_area{
	margin-top: 40px;
	margin-left: 280px;
}
/* Footer */
footer{
  margin-top: 85px;
  
}
.bg-4 { 
      background-color: #2f2f2f; 
      color: #fff;
      padding-top: 50px;
      padding-bottom: 50px;
  } 
  .form_show{
       
}
.under_main_tab{
  margin-top: 50px;
}
.new_crop_add{
  margin-top: 50px;
}
.crop{
  margin-top: 20px;
}
.section1{
  margin-top: 10px;
}
.form-area{
  margin-top: 20px;
  margin-left: 20px;
}
.form-inline{
  margin-top: 20px;
}
.varity {
  margin-left: 13px;
}
.budget {
  margin-left: 35px;
}
.water-source {
  margin-left: 5px;
}
.section2-btn {
  margin-left: 80px;
}
.filter-area {
  margin-top: 23px;
}
.list-of-fertilizer {
  margin-left: 40px;
}
.table-area {
  margin-left: 41px;
}
.toltip-area {
  margin-left: 25px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  position: relative;
}
.under-crops {
  margin-left: 21px;
}
#footer-section{
  margin-top: 50px;
  margin-left: 50px;
}
.mouse-over{
  display: none;
  position: absolute;
}
.btn-area {
  margin-left: 96px;
  margin-top: 16px;
}
.btn-area button {
  margin-right: 17px;
}
.hover-area {
  position: absolute;
  border: 3px solid;
  margin-left: 186px;
  margin-top: -119px;
  padding: 5px;
  border-radius: 35px;
}
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9.5px 38px 9.5px 0;
  border-color: transparent #4e5760 transparent transparent;
  position: absolute;
  margin-left: 148px;
  margin-top: -51px;
>>>>>>> dde1e0981b89ea0e1f126c53988654f7ff010c37
}